@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <style>
        .jumbotron
        {
            margin-top:120px;
        }
    </style>
</head>
<body style="background-image:url('https://www.itarian.com/assets-new/images/inventory-management-system.png')">
    <div class="jumbotron">
        <h1>PRODUCT MANAGEMENT SYSTEM</h1>
    </div>

</body>
</html>